
$mobile: 576px;
$mobile-ls: 768px;
$tablet: 992px;
$tablet-ls: 1200px;
$desktop: 1400px;

@mixin text-style($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

@mixin mobile {
    @media (min-width: $mobile) {
        @content;
    }
}
@mixin mobile-ls {
    @media (min-width: $mobile-ls) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}
@mixin tablet-ls {
    @media (min-width: $tablet-ls) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}