@use "_variables.module.scss";

.page {
  margin: 64px 0;
  width: 100%;
  padding: 0 32px;
  @include variables.tablet-ls {
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @include variables.tablet-ls {
    width: 800px;
    height: 100vh;
  }
}

.title_container {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  min-width: 320px;
  flex-direction: column;
  cursor: pointer;
  @include variables.text-style(2rem, 2rem);

  @include variables.mobile-ls {
    flex-direction: row;
  }
  @include variables.tablet {
    font-size: 3rem;
  }
}

.title {
  font-family: var(--font-cormorant-garamond);
  font-weight: 600;
  font-size: 3rem;
  @include variables.mobile-ls {
    &:after {
      content: "\2014";
      font-style: italic;
    }
  }
}

.icon_container {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.subtitle {
  font-family: var(--font-cormorant-garamond);
  font-style: italic;
  font-size: 1.75rem;
  margin-top: 8px;
  @include variables.mobile-ls {
    font-size: 3rem;
    margin-top: unset;
  }
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  background: #faf9f6;
  @include variables.tablet-ls {
    padding-top: 64px;
    padding-bottom: 54px;
    position: fixed;
    z-index: 10;
  }
}

.nav_container {
  @include variables.tablet-ls {
    position: fixed;
    top: 228px;
  }
}

.nav {
  display: none;
  @include variables.tablet-ls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 24px;
    &:hover {
      cursor: pointer;
      .dash {
        width: 5rem;
      }
    }
    &:active {
      font-weight: 600;
    }
  }
}

.nav_mobile {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 60px;
  background: #faf9f6;
  margin-left: -32px;
  padding-left: 32px;
  width: 100vw;
  @include variables.text-style(16px, 22px);
  position: sticky;
  z-index: 20;
  top: 0;
  @include variables.tablet-ls {
    display: none;
  }
}

.selected {
  font-style: italic;
  font-weight: 600;
  .dash {
    width: 5rem;
  }
}

.dash {
  height: 1px;
  width: 2rem;
  background-color: black;
}

.container {
  display: flex;
  gap: 120px;
  flex-direction: column;
  padding-bottom: 60px;
  @include variables.tablet-ls {
    width: 70%;
    justify-content: flex-end;
    position: relative;
    top: 228px;
    left: 240px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include variables.text-style(16px, 22px);
  @include variables.tablet-ls {
    scroll-margin-top: 228px;
  }
}

.link {
  font-weight: 600;
  &:hover {
    font-style: italic;
  }
}

.description {
  display: flex;
  flex-direction: column;
  @include variables.text-style(16px, 22px);
  margin-top: 20px;
  @include variables.mobile-ls {
    flex-direction: row;
  }
}

.content_container {
  @include variables.tablet-ls {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
  }
}

.question {
  font-weight: 600;
}

.resume_container {
  display: flex;
  font-style: italic;
  @include variables.mobile-ls {
    margin-left: 4px;
  }
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  &:hover {
    .dash_small {
      width: 1rem;
    }
  }
}

.dash_small {
  composes: dash;
  margin-top: 2px;
  margin-left: 4px;
  margin-right: -9px;
  width: .75rem;
}

.arrow {
  margin-top: 2px;
}

.footer {
  opacity: .75;
  font-size: 14px;
  @include variables.text-style(14px, 18px);
}